* {
  --nav-green: #2a9712;
  --main-blue: #d6e8f0;

  margin: 0;
  padding: 0;
  /*background-color: var(--main-blue);*/
}

#columns {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #d6e8f0;
}

#navbar {
  display: inline-block;
  background-color: var(--nav-green);
  width: 30%;
  height: inherit;
  position: fixed;
}

#self-portrait {
  border-radius: 50%;
}

#contact{
  display: inline;
}

.contact-link{
  max-height: 4%;
  padding-right: 2%;
}

#content {
  width: 60%;
  display: block;
  float: right;
  scroll-behavior: smooth;
}

.inactive {
  display: none;
}

#skills {
  height: 100vh;
}

#skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 10px;
}

.entry{
  padding-bottom: 5%;
}

#starship-pic > img{
  max-width: 70%;
}

#sophie-pic > img {
  max-width: 70%;
}
