#about {
  font-size: 90%;
}

.contact-link > a > img {
  width: 80%;
}

#projects h2 {
  font-size: 175%;
}

.entry > span {
  margin: -4% 0 0 15%;
  font-size: 90%;
}

.project-links {
  margin-top: 18%;
}

#skills h2 {
  font-size: 175%;
}
