#about {
  font-size: 100%;
}

#projects h2 {
  font-size: 175%;
}

.entry > span {
  margin: -4% 0 0 15%;
  font-size: 100%;
}

.project-links {
  margin-top: 20%;
}

#skills h2 {
  font-size: 175%;
}
